.ContactCard-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 300px;
  border: none;
  align-items: center;
  justify-content: center;
  /* border-radius: ; */
  gap: 20px;
  border: 1px solid black;
}
.ContactCard-container:hover {
  scale: 1.01;
  /* transition: border 0.5s ease-in-out; */
}
.ContactCard-container > img {
  width: 30px;
  height: 30px;
}
.ContactCard-container > p {
  font-family: sans-serif;
  font-weight: bold;
}
