@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
}
body {
  background-color: white;
  color: black;
  max-width: 100%;
  font-family: "Raleway", sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 3rem;
  background-color: black;
  color: white;
  font-weight: bolder;
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
  font-size: clamp(1rem, 2vw, 5rem);
  font-family: "Playfair Display", serif;
}
.navbar li {
  flex: 1 1 auto;
  text-align: center;
  list-style-type: none;
}

.navbar a:visited,
a:link {
  color: white;
  text-decoration: none;
}
.navbar a:hover {
  color: #ffdd57;
}

.first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  width: calc(100% - 5rem);
  margin: 4rem auto;
  padding: 30px;
  border: 1px solid #ffdd57;
  color: black;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}
.first h1 {
  font-family: "Playfair Display", serif;
  color: #ffdd57;
}

.main-img {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  border-radius: 5px;
  padding: 0;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0.8);
  max-width: 1300px;
}
.main-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.about-me {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  padding: 16px;
  margin: 2rem;
}
.about-me p {
  max-width: 700px;
  line-height: 1.4;
}
.one {
  font-size: clamp(0.7rem, 3vw, 1.4rem);
  font-family: "Playfair Display", serif;
  display: block;
  font-style: italic;
}
.services {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  text-align: center;
}
.service-heading {
  margin-top: 2rem;
}
.services ul {
  list-style-type: disc;
  text-align: left;
  list-style-position: inside;
  margin: 0 auto;
  display: inline-block;
}
.services li {
  margin-bottom: 0.5em;
}

.clients {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  text-align: center;
  margin-left: 1.8rem;
}
.clients-heading {
  margin-top: 2rem;
}
.clients ul {
  list-style-type: disc;
  text-align: left;
  list-style-position: inside;
  margin: 0 auto;
  display: inline-block;
}
.clients li {
  margin-bottom: 0.5em;
}
.image-grid {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: start;
  max-width: 400px;
}

.image-grids {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 6px;
  max-width: 400px;
  max-height: 500px;
}

.image-grid img,
.image-grids img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
.image-grid img {
  filter: brightness(0.8);
}
.image-grids img {
  filter: brightness(0.8);
}
.unicode {
  font-size: clamp(2rem, 3vw, 3rem);
  margin-bottom: 0.5rem;
  color: #ffdd57;
}

@media screen and (max-width: 1100px) {
  .first {
    width: calc(100% - 5rem);
    margin: 3rem auto;
  }
}

@media screen and (max-width: 600px) {
  .first {
    width: 100%;
    margin: 2rem auto;
  }
  .makeup {
    text-indent: 9rem;
  }
  .services,
  .clients {
    grid-template-columns: 1fr auto;
    align-items: start;
  }
  .main-img {
    margin-top: -4px;
  }
}
.bookCard__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.port {
  color: black;
  margin: 2.5rem 0 0 0;
  font-size: clamp(2.5rem, 3vw, 5rem);
  font-family: "Playfair Display", serif;
  letter-spacing: 0.1em;
  margin-bottom: -6rem;
}
.third {
  display: grid;
  background-color: transparent;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  width: calc(100% - 12rem);
  margin: 6rem auto;
}

.third img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
  object-position: 50% 20%;
}
.item {
  padding: 10px;
  text-align: center;
}
.item:nth-child(5) img {
  object-position: 50% 10%;
}

.item:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}
.item:nth-child(2),
.item:nth-child(4),
.item:nth-child(6),
.item:nth-child(7) {
  grid-column: span 1;
  grid-row: span 1;
}
.item:nth-child(3) {
  grid-column: span 1;
  grid-row: span 2;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  .item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
  }
}

@media screen and (max-width: 768px) {
  .third {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    padding-bottom: 10px;
  }
  .item {
    grid-column: span 1;
    grid-row: span 1;
  }
  .item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
  }
}
@media screen and (max-width: 480px) {
  .third {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 10px;
    width: calc(100% - 6rem);
    margin: 6rem auto;
  }
  .item,
  .item:nth-child(2),
  .item:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
  }
  .item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
  }

  .item:nth-child(3) {
    grid-column: span 1;
    grid-row: span 2;
  }
}
.center {
  text-align: center;
}
.fourth {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 90%;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  margin-top: 20px;
  min-height: 400px;
}
.maintenance-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  text-align: center;
}

.maintenance-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.maintenance-container p {
  font-size: 1.2rem;
  line-height: 1.5;
}