@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Graduate&family=Syncopate:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
}
body {
  background-color: white;
  color: black;
  /* min-height: 100vh; */
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  gap: 4rem;
  list-style-type: none;
  font-weight: bolder;
  font-size: 1.5rem;
  background-color: white;
  color: black;
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
}
.container li {
  color: brown;
  flex: 1 1 auto;
  text-align: center;
}
.first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto auto auto auto auto;
  /*   justify-content: center;
  width: calc(100% - 4rem);
  margin: 4rem 2rem; */
  padding: 30px;
}
.intro {
  grid-column: 1 / 3;
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  line-height: 0.9;
}
.makeup {
  text-indent: 13rem;
}
.main-img {
  grid-column: 1 / 3;
  max-height: 280px;
  margin-top: -11px;
}
.main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-me {
  grid-column: 1 / 3;
  text-align: center;
  padding: 16px;
  margin: 2rem;
}
.services {
  grid-column: 1 / 2;
  text-align: center;
  margin: 1rem 0;
}
.image-grid {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  max-height: 300px;
  overflow: hidden;
  margin: 1rem 0;
}
.clients {
  grid-column: 2 / 3;
  text-align: center;
  margin: 1rem 0;
}
.image-grids {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  max-height: 300px;
  overflow: hidden;
  margin: 1rem 0;
}
.image-grid img,
.image-grids img {
  width: 100;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.unicode {
  font-size: 1.1rem;
}
@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .box {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .box:first-child {
    /* grid-column: 1 / -1; */
    font-size: 4rem;
    display: grid;
    align-content: end;
  }
}
.third {
  display: grid;
  background-color: black;
  color: white;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 13px;
  width: calc(100% - 12rem);
  margin: 6rem auto;
  animation: fade 2s ease-in-out 1s;
}
@keyframes fade {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}
.third img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.item {
  padding: 10px;
  text-align: center;
  background-color: blue;
}
.item:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}
.item:nth-child(2) {
  grid-column: span 1;
  grid-row: span 1;
}
.item:nth-child(3) {
  grid-column: span 1;
  grid-row: span 2;
}
.item:nth-child(4) {
  grid-column: span 1;
  grid-row: span 1;
}
.item:nth-child(5) {
  grid-column: span 2;
  grid-row: span 1;
}
.item:nth-child(6) {
  grid-column: span 1;
  grid-row: span 1;
}
.item:nth-child(7) {
  grid-column: span 1;
  grid-row: span 1;
}
.item:nth-child(8) {
  grid-column: span 1;
  grid-row: span 1;
}
.item:nth-child(9) {
  grid-column: span 2;
  grid-row: span 1;
}
.item:nth-child(10) {
  grid-column: span 1;
  grid-row: span 1;
}
.item:nth-child(11) {
  grid-column: span 2;
  grid-row: span 2;
}
.item:nth-child(12) {
  grid-column: span 2;
  grid-row: span 2;
}

.fourth {
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-inline: auto;
  margin-top: 20px;
  height: 400px;
}
.app-container {
  display: flex;
  flex-direction: column;
  width:100%;
}
@media screen and (max-width: 768px) {
  .third {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    padding-bottom: 10px;
  }
  .item {
    grid-column: span 1;
    grid-row: span 1;
  }
  .item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .item:nth-child(8) {
    grid-column: span 2;
    grid-row: span 1;
  }
  .item:nth-child(10) {
    grid-column: span 2;
    grid-row: span 1;
  }
}
@media screen and (max-width: 480px) {
  .third {
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: minmax(100px, auto); */
    padding-bottom: 10px;
    width: calc(100% - 6rem);
    margin: 6rem auto;
  }
  .item {
    grid-column: span 1;
    grid-row: span 1;
  }
  .item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .item:nth-child(2) {
    grid-column: span 1;
    grid-row: span 1;
  }
  .item:nth-child(3) {
    grid-column: span 1;
    grid-row: span 2;
  }
  .item:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
  }
  .item:nth-child(10) {
    grid-column: span 1;
    grid-row: span 2;
  }
  .item:nth-child(11) {
    grid-column: span 1;
    grid-row: span 2;
  }
}
.center {
  text-align: center;
}
